@{
    Layout = "_Main";
    ViewData["Title"] = Localizer["Title"];
}

<div class="container mt-4">
    <div class="jumbotron bg-light p-5 rounded-lg shadow-sm animate__animated animate__fadeIn">
        <h1 class="display-4">@Localizer["PoliticaDePrivacidad"]</h1>
        <p class="lead">@Localizer["PrivacidadImportante"]</p>
        <hr class="my-4">
        <p>@Localizer["DescribeComo"]</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 animate__animated animate__fadeInUp">
            <h2 class="mb-3">@Localizer["InformacionQueRecopilamos"]</h2>
            <p>@Localizer["RecopilamosVariosTipos"]</p>
            <ul>
                <li><strong>@Localizer["InformacionIdentificacionPersonal"]</strong></li>
                <li><strong>@Localizer["InformacionDeUso"]</strong></li>
                <li><strong>@Localizer["InformacionTecnica"]</strong></li>
            </ul>

            <h2 class="mt-4 mb-3">@Localizer["ComoUtilizamosInformacion"]</h2>
            <p>@Localizer["UtilizamosInformacionRecopilada"]</p>
            <ul>
                <li>@Localizer["ProveerOperarMantener"]</li>
                <li>@Localizer["MejorarPersonalizarExpandir"]</li>
                <li>@Localizer["EntenderAnalizar"]</li>
                <li>@Localizer["DesarrollarNuevasFuncionalidades"]</li>
                <li>@Localizer["ComunicarnosContigo"]</li>
                <li>@Localizer["ProcesarTransaccionesPedidos"]</li>
                <li>@Localizer["DetectarPrevenirFraudes"]</li>
            </ul>

            <h2 class="mt-4 mb-3">@Localizer["ComoProtegemosInformacion"]</h2>
            <p>@Localizer["ImplementamosMedidasSeguridad"]</p>
            <ul>
                <li>@Localizer["UsoTecnologiasCifrado"]</li>
                <li>@Localizer["AlmacenamientoDatosSeguros"]</li>
                <li>@Localizer["RestriccionAcceso"]</li>
            </ul>

            <h2 class="mt-4 mb-3">@Localizer["CompartirInformacion"]</h2>
            <p>@Localizer["NoVendemosInformacion"]</p>

            <h2 class="mt-4 mb-3">@Localizer["TusDerechos"]</h2>
            <p>@Localizer["TienesDerechoA"]</p>
            <ul>
                <li>@Localizer["AccederDatosPersonales"]</li>
                <li>@Localizer["SolicitarCorreccion"]</li>
                <li>@Localizer["SolicitarEliminacion"]</li>
                <li>@Localizer["RestringirProcesamiento"]</li>
                <li>@Localizer["OponerteProcesamiento"]</li>
                <li>@Localizer["SolicitarPortabilidad"]</li>
            </ul>
            <p>@Localizer["EjercerDerechos"]</p>

            <h2 class="mt-4 mb-3">@Localizer["CambiosPoliticaPrivacidad"]</h2>
            <p>@Localizer["ReservamosDerecho"]</p>

            <h2 class="mt-4 mb-3">@Localizer["Contacto"]</h2>
            <p>@Localizer["PreguntasPoliticaPrivacidad"]</p>
        </div>
    </div>
</div>
