@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ProyectoFinalDAMAgil.Models.Admin.AsignaturaModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>@Localizer["EditarAsignatura"]</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="EditarEstudios" method="post">
                <input type="hidden" asp-for="IdAsignatura" />

                <div class="mb-3">
                    <label class="form-label" for="NombreAsignatura">@Localizer["NombreAsignatura"]</label>
                    <input asp-for="NombreAsignatura" type="text" class="form-control" id="IdAsignatura" placeholder="@Localizer["IngreseNombreAsignatura"]">
                    <span asp-validation-for="NombreAsignatura" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Curso">@Localizer["Curso"]</label>
                    <input asp-for="Curso" type="text" class="form-control" id="Curso" placeholder="@Localizer["IngreseCurso"]">
                    <span asp-validation-for="Curso" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" asp-route-id="@ViewData["idCiclo"]">
                        <i class="bi bi-save"></i> @Localizer["Guardar"]
                    </button>
                    <a asp-controller="Admin" asp-action="ListarAsignaturas" asp-route-id="@ViewData["idCiclo"]" class="btn btn-warning">
                        <i class="bi bi-arrow-left"></i> @Localizer["VolverALista"]
                    </a>
                </div>
            </form>
            @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @Localizer["MensajeError"]
                </div>
            }
        </div>
    </div>
</div>
