@model ProyectoFinalDAMAgil.Models.Admin.HorarioModel
@{
    ViewData["Title"] = Localizer["Tutulo"];
    var listaHorarioEstudio = ViewData["Horarios"] as List<ProyectoFinalDAMAgil.Models.Admin.HorarioModel>;
    var listaAsignaturas = ViewData["ListaAsignaturas"] as List<ProyectoFinalDAMAgil.Models.Admin.AsignaturaModel>;
    var listaAulas = ViewData["ListaAulas"] as List<ProyectoFinalDAMAgil.Models.Admin.AulaModel>;

    int contador = 0;
}
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Localizer["Titulo"] - @ViewData["NombreAsignatura"] - @ViewData["CursoAsignatura"]º @Localizer["Curso"]</h3>
            </div>

            <div class="card-body">
                @if (listaAulas == null || listaAulas.Count == 0)
                {
                    <div class="alert alert-danger mt-3" role="alert">
                        @Localizer["AulasCreadasNecesarias"]
                    </div>

                    <div>
                        <a asp-controller="Admin" asp-action="GuardarAula" asp-route-id="@ViewData["idCentro"]" class="btn btn-success mb-3">
                            <i class="bi bi-plus-circle"></i> @Localizer["CrearAula"]
                        </a>
                        <a asp-controller="Admin" asp-action="ListarAsignaturas" asp-route-id="@ViewData["idEstudios"]" class="btn btn-warning mb-3">
                            <i class="bi bi-arrow-left"></i> @Localizer["Volver"]
                        </a>
                    </div>
                }
                else
                {
                    <form id="formHorario" asp-controller="Admin" asp-action="GuardarHorario" method="post">
                        <input type="hidden" name="IdAsignatura" value="@ViewData["idAsignatura"]" />
                        <input type="hidden" name="IdEstudio" value="@ViewData["idEstudios"]" />
                        <input type="hidden" id="IdDiaFranja" name="IdDiaFranja" value="" />
                        <input type="hidden" id="Eliminar" name="eliminarIdDiaFranja" value="" />

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <select asp-for="IdAula" class="form-control">
                                    @foreach (var item in listaAulas)
                                    {
                                        <option value="@item.IdAula">@item.NumeroAula - @item.NombreAula</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="color" asp-for="ColorAsignatura" class="form-control form-control-color" />
                            </div>
                            <div class="col-md-4 d-flex justify-content-end">
                                <a asp-controller="Admin" asp-action="ListarAsignaturas" asp-route-id="@ViewData["idEstudios"]" class="btn btn-warning">
                                    <i class="bi bi-arrow-left"></i> @Localizer["Volver"]
                                </a>
                            </div>
                        </div>


                        @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
                        {
                            <div class="alert alert-danger mt-3" role="alert">
                                @Localizer["AulaOcupada"]
                            </div>
                        }
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="hora-col">@Localizer["Hora/Día"]</th>
                                    @foreach (var dia in ViewData["DiasSemana"] as IEnumerable<ProyectoFinalDAMAgil.Models.Admin.DiasemanaModel>)
                                    {
                                        <th scope="col">@Localizer[dia.DiaDeLaSemana]</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hora in ViewData["Horas"] as IEnumerable<ProyectoFinalDAMAgil.Models.Admin.FranjahorariumModel>)
                                {
                                    <tr>
                                        <td class="hora-col">@hora.HoraMinInicio - @hora.HoraMinFinal</td>
                                        @foreach (var dia in ViewData["DiasSemana"] as IEnumerable<ProyectoFinalDAMAgil.Models.Admin.DiasemanaModel>)
                                        {
                                            contador++;
                                            var horarioExistente = listaHorarioEstudio.FirstOrDefault(h => h.IdDiaFranja == contador);
                                            if (horarioExistente != null)
                                            {
                                                var colorAsignatura = horarioExistente.ColorAsignatura;
                                                var nombreAsignatura = listaAsignaturas.First(a => a.IdAsignatura == horarioExistente.IdAsignatura).NombreAsignatura;
                                                var aulaDescripcion = listaAulas.First(a => a.IdAula == horarioExistente.IdAula).NumeroAula.ToString();

                                                if (horarioExistente.IdAsignatura == (int)ViewData["idAsignatura"])
                                                {
                                                    <td style="background-color:@colorAsignatura;" onclick="manejarClickCelda(@contador, true)">
                                                        @aulaDescripcion - @nombreAsignatura
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:@colorAsignatura;">
                                                        @aulaDescripcion - @nombreAsignatura
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                <td onclick="manejarClickCelda(@contador, false)">
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                }
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function enviarFormulario(idDiaFranja, eliminar) {
        document.getElementById('IdDiaFranja').value = idDiaFranja;
        document.getElementById('Eliminar').value = eliminar;
        document.getElementById('formHorario').submit();
    }

    function manejarClickCelda(idDiaFranja, esOcupado) {
        enviarFormulario(idDiaFranja, esOcupado);
    }

    function mostrarMensaje(mensaje, tipo) {
        const alert = document.getElementById('alerta');
        alert.innerText = mensaje;
        alert.className = `alert alert-${tipo}`;
        alert.style.display = 'block';
    }
</script>
<style>
    .hora-col {
        width: 175px;
    }
</style>
