@model ProyectoFinalDAMAgil.Models.Admin.HorarioModel
@{
    ViewData["Title"] = "Horario";
    int contador = 0;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
        }

        th, td {
            border: 1px solid black;
            padding: 1px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Horario</h3>
            </div>
            <div class="card-body">

                <form asp-controller="Admin" asp-action="GuardarHorario" asp-route-id="@ViewData["idAsignatura"]" asp-route-idestudios="@ViewData["idEstudios"] method="post">



                    <div class="d-flex justify-content-between mb-3">

                        <select asp-for="IdAula">
                            @foreach (var item in (IEnumerable<int>)ViewData["Aulas"])
                            {
                                <option value="@item">@item</option>
                            }
                        </select>

                        <input type="color" asp-for="ColorAsignatura"></input>

                        <a asp-controller="Admin" asp-action="ListarAsignaturas" class="btn btn-warning mb-3">
                            <i class="bi bi-arrow-left"></i> Volver a Asignaturas
                        </a>
                    </div>


                    <table>
                        <thead>
                            <tr>
                                <th>Hora/Día</th>
                                @foreach (var dia in (IEnumerable<string>)ViewData["DiasSemana"])
                                {
                                    <th>@dia</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var hora in (IEnumerable<string>)ViewData["Horas"])
                            {
                                <tr>
                                    <td>@hora</td>
                                    @foreach (var dia in (IEnumerable<string>)ViewData["DiasSemana"])
                                    {
                                        contador++;
                                        @if (contador==45 || contador==52 || contador==59 || contador==66)
                                        {
                                            <td> </td>
                                        }
                                        else
                                        {
                                            <td>

                                                <button type="submit" class="btn btn-warning btn-sm">
                                                    <i class="bi bi-save"></i> @contador
                                                </button>
                                                


                                            </td> <!-- Aquí puedes poner el contenido del horario, por ejemplo, una clase, evento, etc. -->
                                        }

                                    }
                                </tr>
                            }
                        </tbody>
                    </table>



                </form>



            </div>
        </div>
    </div>
</body>
</html>






    




@*     <table>
        <thead>
            <tr>
                <th>Hora/Día</th>
                @foreach (var dia in (IEnumerable<string>)ViewData["DiasSemana"])
                {
                    <th>@dia</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var hora in (IEnumerable<string>)ViewData["Horas"])
            {
                <tr>
                    <td>@hora</td>
                    @foreach (var dia in (IEnumerable<string>)ViewData["DiasSemana"])
                    {
                        contador++;
                        @if (contador==45 || contador==52 || contador==59 || contador==66)
                        {
                            <td> </td>
                        }else
                        {
                            <td>
                                <a asp-controller="Admin" asp-action="ListarHorarios" asp-route-id="@contador" class="btn btn-warning btn-sm">
                                    <i class="bi bi-arrow-left"></i> @contador
                                </a>

                            </td> <!-- Aquí puedes poner el contenido del horario, por ejemplo, una clase, evento, etc. -->
                        }

                    }
                </tr>
            }
        </tbody>
    </table> *@



@* <a asp-controller="Admin" asp-action="InformacionAsignatura" asp-route-id="@item.IdAsignatura" class="btn btn-primary btn-sm">
    <i class="bi bi-gear"></i> @Localizer["Informacion"]
</a> *@