@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ProyectoFinalDAMAgil.Models.Admin.ProfesorModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>@Localizer["CrearNuevoProfesor"]</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="GuardarProfesor" method="post" enctype="multipart/form-data">

                <input type="hidden" asp-for="IdCentro" value="@ViewData["idCentro"]" />

                <div class="mb-3">
                    <label class="form-label" for="NombreUsuario">@Localizer["NombreProfesor"]</label>
                    <input asp-for="NombreUsuario" type="text" class="form-control" id="NombreUsuario" placeholder="@Localizer["NombreProfesor"]">
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="ApellidosUsuario">@Localizer["ApellidosProfesor"]</label>
                    <input asp-for="ApellidosUsuario" type="text" class="form-control" id="ApellidosUsuario" placeholder="@Localizer["ApellidosProfesor"]">
                    <span asp-validation-for="ApellidosUsuario" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Email">@Localizer["Email"]</label>
                    <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="@Localizer["Email"]">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Especialidad">@Localizer["Especialidad"]</label>
                    <input asp-for="Especialidad" type="text" class="form-control" id="Especialidad" placeholder="@Localizer["Especialidad"]">
                    <span asp-validation-for="Especialidad" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" asp-route-id="@ViewData["idCentro"]">
                        <i class="bi bi-save"></i> @Localizer["Guardar"]
                    </button>
                    <a asp-controller="Admin" asp-action="ListarProfesores" asp-route-id="@ViewData["idCentro"]" class="btn btn-warning">
                        <i class="bi bi-arrow-left"></i> @Localizer["VolverListaProfesores"]
                    </a>
                </div>
            </form>
            @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }
        </div>
    </div>
</div>
