@model ProyectoFinalDAMAgil.Models.Admin.CicloformativoModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>@Localizer["EditarEstudio"]</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="EditarEstudios" method="post">
                <input type="hidden" asp-for="IdCiclo" />
                <input type="hidden" asp-for="IdCentro" />

                <div class="mb-3">
                    <label asp-for="Acronimo" class="form-label">@Localizer["Acronimo"]</label>
                    <input asp-for="Acronimo" type="text" class="form-control" placeholder="@Localizer["AcronimoPlaceholder"]" />
                    <span asp-validation-for="Acronimo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NombreCiclo" class="form-label">@Localizer["NombreCiclo"]</label>
                    <input asp-for="NombreCiclo" type="text" class="form-control" placeholder="@Localizer["NombreCicloPlaceholder"]" />
                    <span asp-validation-for="NombreCiclo" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> @Localizer["Guardar"]
                    </button>
                    <a asp-controller="Admin" asp-action="ListarEstudios" asp-route-id="@Model.IdCentro" class="btn btn-warning">
                        <i class="bi bi-arrow-left"></i> @Localizer["VolverALista"]
                    </a>
                </div>
            </form>
            @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @{
                        var tempvarmensaje = ViewData["Mensaje"] as string;
                    }
                    @Localizer[tempvarmensaje]
                </div>
            }
        </div>
    </div>
</div>
