@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ProyectoFinalDAMAgil.Models.Admin.AulaModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>@Localizer["CrearNuevaAula"]</h3>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="GuardarAula" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label class="form-label" for="NumeroAula">@Localizer["NumeroAula"]</label>
                    <input asp-for="NumeroAula" type="number" class="form-control" id="NumeroAula" placeholder="@Localizer["NumeroAulaPlaceholder"]">
                    <span asp-validation-for="NumeroAula" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="NombreAula">@Localizer["NombreAula"]</label>
                    <input asp-for="NombreAula" type="text" class="form-control" id="Curso" placeholder="@Localizer["NombreAulaPlaceholder"]">
                    <span asp-validation-for="NombreAula" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="AforoMax">@Localizer["AforoMax"]</label>
                    <input asp-for="AforoMax" type="number" class="form-control" id="AforoMax" placeholder="@Localizer["AforoMaxPlaceholder"]">
                    <span asp-validation-for="AforoMax" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" asp-route="@ViewData["idCiclo"]">
                        <i class="bi bi-save"></i> @Localizer["Guardar"]
                    </button>
                    <a asp-controller="Admin" asp-action="ListarAulas" asp-route-id="@ViewData["idCentro"]" class="btn btn-warning mb-3">
                        <i class="bi bi-arrow-left"></i> @Localizer["VolverAulas"]
                    </a>
                </div>


            </form>
            @if (!string.IsNullOrEmpty(ViewData["Mensaje"] as string))
            {
                <div class="alert alert-danger mt-3" role="alert">
                    @{
                        string vartempmensaje = ViewData["Mensaje"] as string;
                    }

                    @Localizer[vartempmensaje]
                </div>
            }
        </div>
    </div>
</div>
