@model List<ProyectoFinalDAMAgil.Models.Admin.AulaModel>

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Localizer["ListaDeAulas"]</h3>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <a asp-controller="Admin" asp-action="GuardarAula" asp-route-id="@ViewData["idCentro"]" class="btn btn-success mb-3">
                    <i class="bi bi-plus-circle"></i> @Localizer["CrearNuevo"]
                </a>
                <a asp-controller="Admin" asp-action="ListarEstudios" asp-route-id="@ViewData["idCentro"]" class="btn btn-warning mb-3">
                    <i class="bi bi-arrow-left"></i> @Localizer["VolverAEstudios"]
                </a>
                <input type="text" id="searchInput" class="form-control w-50 mb-3" placeholder="@Localizer["BuscarAulas"]">
            </div>
            <table id="centrosTable" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@Localizer["NumeroDeAula"]</th>
                        <th>@Localizer["NombreAula"]</th>
                        <th>@Localizer["AforoMaximo"]</th>
                        <th>@Localizer["Acciones"]</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.IdAula">
                                <td>@item.NumeroAula</td>
                                <td>@item.NombreAula</td>
                                <td>@item.AforoMax</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Acciones">
                                        <a asp-controller="Admin" asp-action="EditarAula" asp-route-id="@item.IdAula" class="btn btn-secondary btn-sm">
                                            <i class="bi bi-pencil"></i> @Localizer["Editar"]
                                        </a>
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-url="@Url.Action("EliminarAula", new { id = @item.IdAula })">
                                            <i class="bi bi-trash"></i> @Localizer["Eliminar"]
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">@Localizer["NoHayAulas"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">@Localizer["ConfirmarEliminacion"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Localizer["SeguroEliminarAula"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancelar"]</button>
                    <a id="confirmDeleteButton" class="btn btn-danger">@Localizer["Eliminar"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var confirmDeleteModal = document.getElementById('confirmDeleteModal');
            confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget; // Botón que disparó el modal
                var url = button.getAttribute('data-url'); // Extraer la URL de los atributos data-*

                // Actualizar el enlace del botón de confirmación
                var confirmDeleteButton = confirmDeleteModal.querySelector('#confirmDeleteButton');
                confirmDeleteButton.setAttribute('href', url);
            });

            var confirmDeleteButton = document.getElementById('confirmDeleteButton');
            confirmDeleteButton.addEventListener('click', function (event) {
                event.preventDefault();
                var url = confirmDeleteButton.getAttribute('href');

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: '@Localizer["CentroEliminado"]',
                                text: '@Localizer["CentroEliminadoMensaje"]'
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '@Localizer["Error"]',
                                text: '@Localizer["ErrorEliminarCentro"]'
                            }).then(() => {
                                location.reload();
                            });
                        }
                    })
                    .catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '@Localizer["Error"]',
                            text: '@Localizer["ErrorGeneral"]'
                        }).then(() => {
                            location.reload();
                        });
                    });
            });

            // Funcionalidad de búsqueda
            document.getElementById('searchInput').addEventListener('keyup', function () {
                var searchTerm = this.value.toLowerCase();
                var rows = document.querySelectorAll('#centrosTable tbody tr');
                rows.forEach(function (row) {
                    var numeroAula = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
                    var nombreAula = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                    var aforoMax = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
                    if (numeroAula.includes(searchTerm) || nombreAula.includes(searchTerm) || aforoMax.includes(searchTerm)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        });
    </script>
}
